@charset "UTF-8";


.navbar a{
    color: #4b3782 !important;
    font-size: 20px !important;
    font-weight: bold!important;
}

.navbar-brand{
    padding-left: 1.3115rem;
}

button, input, optgroup, select, textarea {
    margin: 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 20px !important;
    font-weight: bold!important;
}
.nav-link {
    display: block;
    padding: 2.5rem 5rem;
}

.head-1{
    background-color: #bfabc6;
}

.head-2{
    background: url("images/set-virtual.png") no-repeat  center ;
    opacity: 85%;
    height: 700px;
    background-size: cover;
    position: relative;
}

.head-3,.head-4,.head-5,.head-6{
    background-color: #e7e3f9;
    padding-top: 120px;
}
.btn-primary{
    background-color: #402d7c !important;
    border-color: #402d7c !important;

}

.btn-outline-primary{
    color: #59468a !important;
    border-color: #59468a !important;
}

h1{
    color: #6138f6;
}

#rectangle{
    background:white;
    height: 227px;
    width: 256px;
    left: 417px;
    top: 589px;
    border-radius: 23px;
    opacity: 90%;

}


 h2{
     padding: 62px 68px 16px 68px;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 25px;
     line-height: 29px;
     color: #6138F6;
     text-align: left;

 }
h3{
    padding: 0px 15px 48px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-align: justify-all;
}

.derecha{
    background-image: url("images/Pastillas.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.col-sm{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 80px;
}

.col-8 , col-sm-6{
    position: relative;
    width: 100%;
    padding-right: 100px;
    padding-left: 200px;
    padding-top: 50px;
}
.col-4 ,col-sm-6{
    position: relative;
    width: 100%;
    padding-right: 100px;
    padding-left: 200px;
    padding-top: 75px;
}

p{
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.wrapper{
    max-height: 120px;
    border: 1px solid #4b3782;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper.item{
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 3px;
}
.vivo1 {
    width: 451px;
    height: 751px;
    background-image: linear-gradient(rgba(87,89,105,0.32),rgba(5,218,205, 0.53)),url("images/En vivo 1.png");
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 40px;
}

.head-4 h3{
    color: #6138f6;
    font-weight: bold;
    padding-top: 254px;
}
.vivo2 {
    width: 451px;
    height: 751px;
    background-image: linear-gradient(rgba(87,89,105,0.32),rgba(5,218,205, 0.53)),url("images/En vivo 2.png");
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 40px;
}.vivo3 {
     width: 451px;
     height: 751px;
     background-image: linear-gradient(rgba(87,89,105,0.32),rgba(5,218,205, 0.53)),url("images/En vivo 3.png");
     flex-direction: column;
     justify-content: space-between;
     padding: 30px;
     border-radius: 40px;
 }.vivo4 {
      width: 451px;
      height: 751px;
      background-image: linear-gradient(rgba(87,89,105,0.32),rgba(5,218,205, 0.53)),url("images/En vivo 4.png");
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      border-radius: 40px;
  }

.text1 {
    background-color: #28326B;
    padding: 8px 8px 30px;
    margin: -24px 0 0px 3px;
    width: 258px;
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 115px;
    box-shadow: 0px 3px 4px 0px grey;
}

.text2 {
    background-color: #07CAB6;
    padding: 8px 8px 30px;
    margin: -24px 0 0px 3px;
    width: 258px;
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 115px;
    box-shadow: 0px 3px 4px 0px grey;
}

h5{
    color: #e7e3f9;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 167px;
    height: 167px;
    overflow: hidden;
    border-radius: 50%;
}

.card{
    width: 400px;
    height: 400px;
    background: white   ;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 40px;
    justify-content: space-between;

}

.btn-outline-primary{
    width: 190px;
}

.col-4, col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 285px;
    padding-left: 165px;
    padding-top: 75px;
}